#container{
    width: 80%;
    border: 1px solid #ccc;
    margin: 0 auto;
}
header{
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
}
section{
    width: 100%;
    height: 600px;
    border: 1px solid #ccc;
}
footer{
    width: 100%;
    border: 1px solid #ccc;
}

/*모바일 적용*/
@media screen and (max-width: 767px){   /*최대 767px이하 해상도*/
    #container{
        background-color: rgb(58, 209, 255);
        color: rgb(215, 234, 255);
    }
}

/*태블릿 적용*/
@media screen and (min-width: 768px){   /*최소 768px이상 해상도*/
    #container{
        background-color: rgb(97, 98, 197);
        color: rgb(215, 234, 255);
    }
}

/*PC 적용*/
@media screen and (min-width: 960px){   /*최소 960px이상 해상도*/
    #container{
        background-color: rgb(201, 68, 113);
        color: rgb(215, 234, 255);
    }
}